body {
  height: 100%;
  width: 100%;
  background-color: #E6E6E6;
}

#first {
  height: 95%;
  width: 0;
  display: inline-block;
  background-color: blue;
}

#parent {
  position: absolute;
  left: 10%;
  /* bottom: 5%; */
  top: 5%;
  height: 95%;
  width: 80%;
}
#my-range {
  
}

.array-bar {
  display: inline-block;
  margin: 1px;
  background-color: aquamarine;
  max-height: 90%;
  border: 0.05px solid black;
}

@media only screen and (max-width: 1650px) {
  #parent {
    position: absolute;
    left: 5%;
    /* bottom: 5%; */
    top: 5%;
    height: 95%;
    width: 90%;
  }

  .array-bar {
    display: inline-block;
    margin: 1px;
    background-color: aquamarine;
    max-height: 90%;
    border: 0.05px solid black;
  }
}

@media only screen and (max-width: 1050px) {
  #parent {
    position: absolute;
    left: 5%;
    /* bottom: 5%; */
    top: 5%;
    height: 95%;
    width: 90%;
  }

  .array-bar {
    display: inline-block;
    margin: 1px;
    background-color: aquamarine;
    max-height: 90%;
    border: none
  }
}